{% block content %}

{% if error %}
    <p style="...">ERROR: insert the requested information</p>
{% endif %}
<form action="newMovies" method="post">
    {% csrf_token %}
    <p> <label>Title: <input type="text" name="title" /></label> *</p>
    <p>Year: <input type="text" name="year" />*</p>
    <p>Director:
        <br/>
        First name: <input type="text" name="first_name1" /> *
        <br/>
        Last name: <input type="text" name="last_name1" /> *
    </p>
    <p>Actor 1:
        <br/>
        First name: <input type="text" name="first_name2" /> *
        <br/>
        Last name: <input type="text" name="last_name2" /> *
    </p>
    <p>Actor 2:
        <br/>
        First name: <input type="text" name="first_name3" /> *
        <br/>
        Last name: <input type="text" name="last_name3" /> *
    </p>
    <p>Actor 3:
        <br/>
        First name: <input type="text" name="first_name4" /> *
        <br/>
        Last name: <input type="text" name="last_name4" /> *
    </p>
    <p>
        Duration: <input type="text" name="duration"/> *
    </p>
        <!-- Buscar info ao HTML usando XQuery -->
    <p>Genres: </p>
    <p><input type="text" name="genre1"/> *</p>
    <p><input type="text" name="genre2"/></p>
    <p><input type="text" name="genre3"/></p>
    <p><input type="text" name="genre4"/></p>
    <!-- Buscar info ao HTML usando XQuery -->
    <p>Rating: <input type="text" name="rating"/> *
    <p>Country: <input type="text" name="country" /></p>
    <p>Budget: <input type="text" name="budget" /></p>
    <p>* - required</p>
    <p><input type="submit" value="Submit" /></p>
</form>

{% endblock %}